<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ARMA3 Replay Stats</title>
  <style>
    .small {
        font-size: 8;
      }
    .hide {
        display: none;
      }
    .btn_small {
        padding: 0.1;
        font-size: 0.8rem;
        border-radius: 0.25rem;
      }
    .cell-link{
      color: #1111cd;
    }
    .link{
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }
    .link:hover{
      color: red;
    }
    .header {
      color: red;
    }
    .tooltip-inner {
    white-space: pre-wrap;
    }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

</head>

<body>

<!-- Loading Modal -->
<div class="modal fade show" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loadingModalLabel">{{ loading_message }}</h5>
      </div>
      <div class="modal-body text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fog the page when the modal is shown -->
<div id="loadingFog" class="modal-backdrop fade show" style="display: none;"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
      ARMA3 RBC OCAP Based Statistic
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Missions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navTotalDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Total statistic
        </a>
        <div class="dropdown-menu" aria-labelledby="navTotalDropdown">
          <a class="dropdown-item" href="/total_tvt">TVT</a>
          <a class="dropdown-item" href="/total_if">IF</a>
          <a class="dropdown-item" href="/total_vtn">VTN</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navAttendanceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Attendance
        </a>
        <div class="dropdown-menu" aria-labelledby="navAttendanceDropdown">
          <a class="dropdown-item" href="/attendance?tag=tvt">TVT</a>
          <a class="dropdown-item" href="/attendance?tag=if">IF</a>
          <a class="dropdown-item" href="/attendance?tag=vtn">VTN</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      маид бай STELS
    </span>
  </div>
</nav>

<div class="container-fluid mt-3" style="max-width: 1400px;">
  <h5>Statistic by missions, starting 01.01.2020</h5>

  <form method="post" id="ocap_url_form" class="small">
    <label for="ocap_url">Enter OCAP file URL (from any ARMA project):</label>
    <input type="text" id="ocap_url" name="ocap_url">
    <input type="hidden" id="tag" name="tag">
    <input type="submit" value="Submit">
  </form>
  {% if error_message != '' %}
  <h3>{{ error_message }}</h3>
  {% endif %}
</div>

<div class="container-fluid mt-3" style="max-width: 1400px;">
  <h3>OCAP replay list</h3>
  {% if error_message == '' %}
    {% set expanded = 'false' %}
    {% set expanded_class = '' %}
  {% else %}
    {% set expanded = 'true' %}
    {% set expanded_class = 'show' %}
  {% endif %}
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#ocap-list-collapse-table" aria-expanded="{{ expanded }}" aria-controls="ocap-list-collapse-table">
    Expand/collapse OCAP replay list table
  </button>
</div>

<div class="container-fluid mt-3" style="max-width: 1400px;">
<!-- <div class="container mt-3"> -->
  <div class="collapse {{ expanded_class }}" id="ocap-list-collapse-table">
  <table id="ocap-list-table" class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Mission name</th>
        <th>Players</th>
        <th>Frags</th>
        <th>Tech Kills</th>
        <th>TK</th>
        <th>Map</th>
        <th>Duration</th>
        <th>Date</th>
        <th>Tag</th>
        <!-- <th>File name</th> -->
      </tr>
    </thead>
    <tbody>
        {% for replay in replay_list %}
        <tr id="row_{{ replay['id'] }}">
          <td class="replay_id link">
            {{ replay['id'] }}
            <div class="hide">{{ replay['filename'] }}</div>
            <p class="hide">{{ replay['tag'] }}</p>
          </td>
          <td>{{ replay['mission_name'] }}</td>
          <td>
            {% if 'stats' in replay %}
              {% if replay['stats']|length > 1%}
                <div class="hide">{{ replay['stats'] }}</div>
                {% if replay['stats'][0]['win'] == 1 %}
                  {% set tooltip = replay['stats'][0]['ks'] + ' (Winner)\n' + replay['stats'][1]['ks'] %}
                {% else %}
                  {% set tooltip = replay['stats'][0]['ks'] + '\n' + replay['stats'][1]['ks'] + ' (Winner)' %}
                {% endif %}
                <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="{{ tooltip }}">
                  {% set total = replay['stats'][0]['players'] + replay['stats'][1]['players'] %}
                  {{ total }} ({{ replay['stats'][0]['players'] }}/{{ replay['stats'][1]['players'] }})
                </a>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if 'stats' in replay %}
              {% if replay['stats']|length > 1%}
                {% set total = replay['stats'][0]['frags'] + replay['stats'][1]['frags'] %}
                {{ total }} ({{ replay['stats'][0]['frags'] }}/{{ replay['stats'][1]['frags'] }})
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if 'stats' in replay %}
              {% if replay['stats']|length > 1%}
                {% set total = replay['stats'][0]['vehicle_frags'] + replay['stats'][1]['vehicle_frags'] %}
                {{ total }} ({{ replay['stats'][0]['vehicle_frags'] }}/{{ replay['stats'][1]['vehicle_frags'] }})
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if 'stats' in replay %}
              {% if replay['stats']|length > 1%}
                {% set total = replay['stats'][0]['tk'] + replay['stats'][1]['tk'] %}
                {{ total }} ({{ replay['stats'][0]['tk'] }}/{{ replay['stats'][1]['tk'] }})
              {% endif %}
            {% endif %}
          </td>
          <td>{{ replay['world_name'] }}</td>
          <td>{{ replay['mission_duration']}}</td>
          <td>{{ replay['date'] }}</td>
          <td>{{ replay['tag'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
</div>

{% if error_message == '' %}
<div class="container-fluid mt-3" style="max-width: 1400px;">
  <h1>{{ mission_name }}</h1>
  <h6>Author: {{ mission_author }} Duration: {{ mission_duration }}</h6>
  {% for side in sides %}
  <h6>{{ side['name'] }} Commandor - {{ side['ks'] }}, Players - {{ side['players'] }}</h6>
  {% endfor %}
  <h6 style="color:green">Winner: {{ winner }}</h6>
  <h3>Players statistic</h3>
  <table id="stats-table" class="table table-striped table-bordered stats-table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Player</th>
        <th>Frags</th>
        <th>Side</th>
        <th>Group</th>
        <th>Teamkills</th>
        <th>Tech Kills</th>
        <th>(AI) Kills</th>
        <th>Victims</th>
      </tr>
    </thead>
    <tbody>
        {% for player, stats in stat_data.items() %}
        <tr>
          <td><a href="/total_{{ tag }}/personal?player_name={{ player }}" class="cell-link">{{ player }}</a></td>
          <td>{{ stats['frags'] }}</td>
          {% if stats['side'] == "WEST" %}
          <td style="color: blue;">{{ stats['side'] }}</td>
          {% elif stats['side'] == "EAST" %}
          <td style="color: red;">{{ stats['side'] }}</td>
          {% else %}
          <td>{{ stats['side'] }}</td>
          {% endif %}
          <td>{{ stats['group'] }}</td>
          <td>{{ stats['teamkills'] }}</td>
          <td>{{ stats['vehicle_frags'] }}</td>
          <td>{{ stats['bot_frags'] }}</td>
          <td>
            {% set salt = range(1, 1000) | random %}
            <button type="button" class="btn-primary btn_small" data-toggle="collapse" data-target="#player_victims_{{ salt }}" aria-expanded="false" aria-controls="player_victims_{{ salt }}">
              Show details
            </button>
            <div class="collapse" id="player_victims_{{ salt }}">
              <div class="card card-body">
                <table class="table table-hover table-responsive table-sm">
                  <tbody>
                    <tr>
                      <td colspan="6">Kills</td>
                    </tr>
                    {% for victim in stats['victims'] %}
                    {% if victim['type'] == 'vehicle' %}
                      {% set victim_style='style=color:blue;' %}
                    {% elif victim['is_player'] == 0 %}
                      {% set victim_style='style=color:grey;' %}
                    {% endif %}
                    <tr {{ victim_style }}>
                      <td style="color:red">{{ victim['teamkilla'] }}</td>
                      <td>{{ victim['class'] }}</td>
                      <td>{{ victim['time'] }}</td>
                      <td><a href="/total_{{ tag }}/personal?player_name={{ victim['victim_name'] }}" class="cell-link">{{ victim['victim_name'] }}</a></td>
                      <td>{{ victim['distance'] }}m</td>
                      <td>{{ victim['weapon'] }}</td>
                    </tr>
                    {% endfor %}
                    {% if 'death_data' in stats %}
                    <tr>
                      <td colspan="6">Death</td>
                    </tr>
                    <tr>
                      <td style="color:red">{{ stats['death_data']['teamkilla'] }}</td>
                      <td></td>
                      <td>{{ stats['death_data']['time'] }}</td>
                      <td>{{ stats['death_data']['killer'] }}</td>
                      <td>{{ stats['death_data']['distance'] }}m</td>
                      <td>{{ stats['death_data']['weapon'] }}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

<div class="container-fluid mt-3" style="max-width: 1400px;">
  <h3>Teams statistic</h3>
  <table id="team-stats-table" class="table table-striped table-bordered stats-table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Team</th>
        <th>Frags</th>
        <th>Side</th>
        <th>Teamkills</th>
        <th>Tech Kills</th>
        <th>(AI) Kills</th>
        <th>Victims</th>
      </tr>
    </thead>
    <tbody>
        {% for team, stats in team_stat_data.items() %}
        <tr>
          <td>{{ team }}</td>
          <td>{{ stats['frags'] }}</td>
          {% if stats['side'] == "WEST" %}
          <td style="color: blue;">{{ stats['side'] }}</td>
          {% elif stats['side'] == "EAST" %}
          <td style="color: red;">{{ stats['side'] }}</td>
          {% else %}
          <td>{{ stats['side'] }}</td>
          {% endif %}
          <td>{{ stats['teamkills'] }}</td>
          <td>{{ stats['vehicle_frags'] }}</td>
          <td>{{ stats['bot_frags'] }}</td>
          <td>
            {% set salt = range(1, 1000) | random %}
            <button class="btn-primary btn_small" type="button" data-toggle="collapse" data-target="#team_victims_{{ salt }}" aria-expanded="false" aria-controls="team_victims_{{ salt }}">
              Show details
            </button>
            <div class="collapse" id="team_victims_{{ salt }}">
              <div class="card card-body">
              <table class="table table-hover table-responsive table-sm">
                <tbody>
                {% for victim in stats['victims'] %}
                  {% if victim['type'] == 'vehicle' %}
                    {% set victim_style='style=color:blue;' %}
                  {% elif victim['is_player'] == 0 %}
                    {% set victim_style='style=color:grey;' %}
                  {% endif %}
                  <tr {{ victim_style }}>
                    <td style="color:red">{{ victim['teamkilla'] }}</td>
                    <td>{{ victim['class'] }}</td>
                    <td>{{ victim['time'] }}</td>
                    <td><a href="/total_{{ tag }}/personal?player_name={{ victim['victim_name'] }}" class="cell-link">{{ victim['victim_name'] }}</a></td>
                    <td><a href="/total_{{ tag }}/personal?player_name={{ victim['killer'] }}" class="cell-link">{{ victim['killer'] }}</a></td>
                    <td>{{ victim['distance'] }}m</td>
                    <td>{{ victim['weapon'] }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

<div class="container-fluid mt-3" style="max-width: 1400px;">
  <div class="row">
    <div class="col-md-6">
      <h3>KO revival statistic</h3>
      <table id="ko-stats-table" class="table table-striped table-bordered stats-table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Player</th>
            <th>KO revivals</th>
          </tr>
        </thead>
        <tbody>
            {% for player, revivals in ko_stats_data.items() %}
            <tr>
              <td>{{ player }}</td>
              <td>{{ revivals }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h3>Player connection statistic</h3>
      <table id="connection-stats-table" class="table table-striped table-bordered stats-table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Player</th>
            <th>Connection events</th>
          </tr>
        </thead>
        <tbody>
            {% for player, connections in connected_stats_data.items() %}
            <tr>
              <td>{{ player }}</td>
              <td>{{ connections }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid mt-3" style="max-width: 1400px;">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <img src="{{ url_for('static', filename='STELS.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:5px;">
      <span class="mb-3 mb-md-0 text-muted"> © 2023 Олл райтс резёрвед.</span>
    </div>
  </footer>
</div>

<script>
  $(document).ready(function() {
    $('.stats-table').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "order": [[ 1, "desc" ]]
    });
    $('#ocap-list-table').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "order": [[ 0, "desc" ]]
    });
  });
</script>

<script>
  const table = document.getElementById('ocap-list-table');
  table.addEventListener('click', function(event) {
    if (event.target.classList.contains('replay_id')) {
      var tag = event.target.querySelector('p').textContent;
      var divText = event.target.querySelector('div').textContent;
      var file_name_url = "https://ocap.red-bear.ru/data/" + divText.trim()
      $('#ocap_url').val(file_name_url);
      $('#tag').val(tag);
      $('#ocap_url_form').submit();
    }
  });
</script>

<script>
  $(function() {
    // show the loading modal on form submit
    $('form').submit(function() {
      $('#loadingModal').modal({
        backdrop: 'static',
        keyboard: false
      });
      $('#loadingFog').show();
    });

    // hide the loading modal on page load
    $(window).on('load', function() {
      $('#loadingModal').modal('hide');
      $('#loadingFog').hide();
    });
  });
</script>

<script>
$(document).ready(function() {
  // Define a function to initialize the tooltips
  function initTooltips() {
    $('[data-toggle="tooltip"]').tooltip();
  }

  // Call the initTooltips function on document ready
  initTooltips();

  // Call the initTooltips function whenever the table is updated
  $('#ocap-list-table').on('draw.dt page.dt search.dt order.dt', function() {
    initTooltips();
  });
});
</script>

</body>
</html>